/* src/app/components/CategoryButton.module.css */
.button {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-decoration: none;
    color: inherit;
    margin-top: -10px;
}

.image {
    width: 175px;
    height: 175px;
    margin-bottom: 20px;
}

.text {
    text-align: left;
    font-size: 28px;
}

.text span {
    display: block;
}

.poncho {
    position: relative;
}

.poncho:hover::after {
    content: "Klicken für Details";
    position: absolute;
    top: 35%;
    left: 0;
    transform: translate(0, -50%);
    color: black;
    font-size: 25px;
}

.poncho:hover .image,
.poncho:hover .text {
    opacity: 0.6;
}