/* src/app/components/CategoryButton.module.css */
.button {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-decoration: none;
    color: inherit;
    margin-top: -10px;
}

.image {
    width: 175px;
    height: 175px;
    margin-bottom: 20px;
}

.text {
    text-align: left;
    font-size: 28px;
}

.text span {
    display: block;
}

.poncho:hover {
    opacity: 60%;
}